.container-cards {
    padding: 2rem;
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 1.5rem;
    grid-template-areas: "a b c" ; 
}

.category-elements {
    grid-area: a;
    background-image: url("../../public/assets/img/Nirvana\ In\ Utero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 2%;
    box-shadow: 0 0 0 2px black inset;
    transition: all 0.5s ease-in-out 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.category-elements:hover {
    box-shadow: 0 0 200px black inset;
}

.category-elements h2 {
    color: white;
    text-align: center;
    opacity: 0;
    transform: scale(0);
    transition: all 0.8s ease-in-out 0s;
    font-size: 3.5rem;
}

.category-elements:hover h2 {
    opacity: 1;
    transform: scale(1);
}

.category-video {
    grid-area: b;
    background-image: url("../../public/assets/img/Nirvana\ 8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 2%;
    box-shadow: 0 0 0 2px black inset;
    transition: all 0.5s ease-in-out 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-video:hover {
    box-shadow: 0 0 200px black inset;
}

.category-video h2 {
    color: white;
    text-align: center;
    opacity: 0;
    transform: scale(0);
    transition: all 0.8s ease-in-out 0s;
    font-size: 3.5rem;
}

.category-video:hover h2 {
    opacity: 1;
    transform: scale(1);
}

.category-gallery {
    grid-area: c;
    background-image: url("../../public/assets/img/Nirvana 4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 2%;
    box-shadow: 0 0 0 2px black inset;
    transition: all 0.5s ease-in-out 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-gallery:hover {
    box-shadow: 0 0 200px black inset;
}

.category-gallery h2 {
    color: white;
    text-align: center;
    opacity: 0;
    transform: scale(0);
    transition: all 0.8s ease-in-out 0s;
    font-size: 3.5rem;
}

.category-gallery:hover h2 {
    opacity: 1;
    transform: scale(1);
}