form {
  background-color: #4f4e4eb7;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 7%;
  border-radius: 3px;
  padding: 2%;
  line-height: 29px;
  border: 2.3px solid #FFEB00;
  color:#FFEB00;
  font-size: 1.3rem;
  
 
  .btn-close {
    margin-left: 96.5%;
  }

  .btn-f {
    margin-top: 2%;
    margin-left: 45%;
  }
  
  #susctiption{
    text-align: center;
    font-size: 1.5rem;
  }

  .btn-end {
    margin-left: 45%;
  }

  .daily {
    text-align: center;
    color:#FFEB00;
    font-size: 1.3rem;
  }

   .bold {
    font-weight: bold;
    font-size: 2rem;
   }
}

