form {
  background-color: rgba(85, 83, 83, 0.877);
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 3px;
  padding: 2%;
  line-height: 29px;
  border: 2.3px solid #FFEB00;
  color:#FFEB00;
  font-size: 1.1rem;
 
  .btn-close {
    margin-left: 90%;
  }

  .btn-f {
    margin-top: 3%;
  }

  .daily {
    text-align: center;
    color:#FFEB00;
  }
}

