form {
    background-color: rgba(109, 104, 104, 0.675);
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 3px;
    padding: 2%;
    line-height: 29px;
    border: 2.3px solid #FFEB00;
    color:#FFEB00;
    font-size: 1.1rem;
    margin-top: -16%;
  
  .btn-close {
    margin-left: 90%;
  }

  .btn-end {
    margin-left: 44%;

  }

  .btn-f {
    margin-top: 2%;
    margin-left: 45%;
  }

  p {
    text-align: center;
    font-size: 1.5rem;
  }

 
}
